#formulas-table {
    overflow: auto;
    overflow-x: hidden;
    
    table {
    width: 100%;
    align-content: center;
    text-align: center;

        th {
            width: 20%;
        }
    }
}