$bg-primary: #e2e1e0;
$tile-bg: white;

$box-shadow-gradient-1: rgba(0,0,0,0.12);
$box-shadow-gradient-2:rgba(0,0,0,0.24);

$info-warning: yellow;
$info-error: red;

$table-row-alt: #fcfcfc;
$table-row-hover: #e2e1e0;

$button-standard: #1E90FF;
$button-hovered: #0080ff;
$button-pressed: #3399ff;