#new-trade-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
    
  
    label {
      margin-left: auto;
      margin-right: auto;
      width: $input-width;
      display: flex;
      flex-direction: column;
      padding: $half-gutter;
    }

    input {
      text-align: center;
    }
  
    .submit {
      width: $input-width;
      padding: $half-gutter;
      padding-bottom: $gutter;
    }
    
    #reset-on-submit-checkbox {
      flex-direction: row;
      justify-content: flex-start;
    }

    .error-text {
      font-size: 0.65rem;
      text-align: center;
      margin: 1px;
      color: $info-error;
    }

    .err-box {
      border-color: white;
      outline: 2px solid $info-error;
    }
  }